/* 하단 네비게이션 바 */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; /* 밝은 배경색 */
    height: 70px; /* 높이 약간 증가 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
    position: fixed;
    bottom: 0;
    width: 100%;
    /*z-index: 1000; !* 항상 상단에 고정 *!*/
    margin-top: 10%;
}

nav a {
    color: #333333; /* 기본 텍스트 색상 */
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

nav a:hover {
    opacity: 0.8; /* 호버 시 살짝 투명해짐 */
}

.nav-icon {
    display: block;
    margin-bottom: 5px;
}

.nav-icon img {
    width: 32px; /* 아이콘 크기 증가 */
}

nav a.active {
    color: #007BFF; /* 선택된 항목의 텍스트 색상 */
    font-weight: bold; /* 선택된 항목 강조 */
}

/* 선택된 항목의 아이콘 색상 변경 */
nav a.active .nav-icon img {
    filter: brightness(0) saturate(100%) invert(40%) sepia(57%) saturate(2878%) hue-rotate(200deg) brightness(104%) contrast(95%);
}

/* 반응형 디자인 적용 (모바일 최적화) */
@media screen and (max-width: 700px) {
    nav {
        height: 60px; /* 모바일에서 네비게이션 바 높이 조정 */
    }

    nav a {
        font-size: 10px; /* 모바일에서 폰트 크기 줄임 */
        padding-top: 5px;
    }

    .nav-icon img {
        width: 20px; /* 모바일에서 아이콘 크기 줄임 */
    }
}
