.settings-section {
    padding: 20px;
}

.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.back-button {
    position: absolute;
    left: 0;
    font-size: 24px;
    background: none;
    border: none;
}

h2 {
    margin-left: 10px;
    font-size: 20px;
}

.settings-list {
    list-style: none;
    padding: 0;
}

.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

ul li {
    margin-top: 30px;
}

.arrow {
    font-size: 16px;
    color: #ccc;
}
