* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.time-battery {
    display: flex;
    align-items: center;
}

.time-battery span {
    margin-right: 10px;
    font-size: 16px;
}

.icons i {
    margin-left: 10px;
    font-size: 20px;
}

main {
    padding: 20px;
}

.login-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.login-text {
    display: flex;
    flex-direction: column;
}

.arrow-icon {
    font-size: 20px;
    color: #333;
}

.login-box h3 {
    font-size: 18px;
    font-weight: bold;
}

.login-box p {
    font-size: 14px;
    color: grey;
    margin-top: 5px;
}

.camping-section, .shopping-section, .customer-center-section {
    margin-top: 30px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    font-size: 14px;
    color: grey;
}

ul li {
    margin-top: 30px;
}

/* 반응형 디자인 적용 (모바일 최적화) */
@media screen and (max-width : 800px) {

    body {
        font-family: Arial, sans-serif;
    }

    .login-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        width: 80%;
    }
}
