name: Front Deployment

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read
      checks: read
      pull-requests: write

    steps:

      # 레포지토리에 접근하여 CI서버로 코드를 내려받는 과정
      - name: checkout Github Action
        uses: actions/checkout@v3

      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"
      - uses: actions/cache@v3
        id: npm-cache
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

#      - name: install npm dependencies
#        run: npm install
#
#      - name: react build
#        run: npm run build

      - name: execute remote ssh & deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker kill $(docker ps -q --filter ancestor=hoppang-web-fe)
            docker rmi -f $(docker images --format "{{.ID}}\t{{.Repository}}:{{.Tag}}" hoppang-web-fe)
            rm -rf /home/twj/hoppang_web
            git clone https://github.com/Taewoongjung/hoppang_web.git
            cd /home/twj/hoppang_web
            docker build --no-cache -t hoppang-web-fe .
            docker tag hoppang-web-fe dndxowjd/hoppang-web-fe:0.01
            docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
            docker push dndxowjd/hoppang-web-fe:0.01
            cd /home/twj/hopppang
            docker compose up -d --build web-front-end-app

      - uses: 8398a7/action-slack@v3
        with:
          status: ${{ job.status }}
          fields: repo,message,commit,author,action,eventName,ref,workflow,job,took,pullRequest # selectable (default: repo,message)
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }} # required
        if: always() # Pick up events even if the job fails or is canceled.
