/* 기본 스타일 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-header {
    background-color: #282c34;
    color: white;
    padding: 1rem;
    text-align: center;
}

.app-main {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 1rem;
}

/* 배너 스타일 */
.banner {
    background-color: #f4f4f4;
    border-left: 2px solid #ccc;
    padding: 1rem;
    width: 300px; /* 배너의 기본 너비 */
    box-sizing: border-box;
}


@media screen and (max-width: 1179px) {
    .app-main {
        display: flex;
        flex-direction: column;
        align-items: center; /* 아이템을 가운데로 정렬 */
    }

    .banner {
        border-left: none;
        border-top: 2px solid #ccc;
        width: 100%;
    }

    .content {
        width: 100%;
        margin: 0; /* 불필요한 마진 제거 */
    }

    /* 버튼, 텍스트 등의 요소 크기 조정 */
    button, .ant-input-number, .ant-select {
        width: 80%; /* 모바일에서 더 좁게 */
        margin: 5px auto; /* 자동 중앙 정렬 */
    }

    /* 테이블 여백 조정 */
    table {
        width: 100%;
        margin: 0;
    }
}
